body {
  color: #332c36;
  padding: 0;
  margin: 0;
  font-family: "New Tegomin", serif;
  background-image: url("./images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
